<section class="main">
  <header>
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button (only on small displays) -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
          onclick="function re(){ let r = $('#sidebarMenu'); if(r.hasClass('collapse'))r.removeClass('collapse');else r.addClass('collapse')}re()">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="/">
          <img src="/Music.gif" height="40" alt="" loading="lazy" />
          {{i18next 'WEB.DASHBOARD.NAV.DASHBOARD'}}
        </a>
        <!-- Brand -->
        <div>
          <h1 class="server-name"></h1>
        </div>
        <div id="usermenu" class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="column">
              <img id="usericon" src="" width="25"></img>
            </div>
            <div class="column">
              <h4 id="username"></h4>
            </div>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/logout">{{i18next 'WEB.SIDE.LOGOUT'}}</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="/dashboard" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>{{i18next 'WEB.SIDE.DASHBOARD'}}</span>
          </a>
          <a href="/servers" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-server fa-fw me-3"></i><span>{{i18next 'WEB.SIDE.SERVERS'}}</span>
          </a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  </header>
  <!-- Main Content-->
  <main style="margin-top: 58px;">
    <div class="container pt-4">
      <section>
        <h1>{{i18next 'WEB.DASHBOARD.DETAILS.DETAILS'}}</h1>
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-success" id="users">-</h3>
                    <p class="mb-0">{{i18next 'WEB.DASHBOARD.DETAILS.USERS'}}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="far fa-user text-success fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning" id="guilds">-</h3>
                    <p class="mb-0">{{i18next 'WEB.DASHBOARD.DETAILS.SERVERS'}}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-server text-warning fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning" id="uptime">-</h3>
                    <p class="mb-0">{{i18next 'WEB.DASHBOARD.DETAILS.UPTIME'}}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-clock text-warning fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning server-name">-</h3>
                    <p class="mb-0">{{i18next 'WEB.DASHBOARD.DETAILS.AVATAR'}}</p>
                  </div>
                  <div class="align-self-center">
                    <img id="avatar" style="height: 3em;"></img>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning" id="totalvcs">-</h3>
                    <p class="mb-0">{{i18next 'WEB.DASHBOARD.DETAILS.TOTALVCS'}}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-microphone text-warning fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-info" id="commandsRan">-</h3>
                    <p class="mb-0">{{i18next 'WEB.DASHBOARD.DETAILS.COMMANDSRAN'}}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-rocket text-info fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-info" id="songsPlayed">-</h3>
                    <p class="mb-0">{{i18next 'WEB.DASHBOARD.DETAILS.SONGSPLAYED'}}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-music text-info fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <!-- Main Content-->
</section>