<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/gif" href="/Music.gif">
  <!-- Dependencies -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" />
  <!-- Dependencies -->
  <!-- Partials -->
  <link rel="stylesheet" href="/css/partials/footer.css">
  <link rel="stylesheet" href="/css/partials/scrollbar.css">
  <link rel="stylesheet" href="/css/partials/vars.css">
  <link rel="stylesheet" href="/css/partials/sidebar.css">
  <link rel="stylesheet" href="/css/partials/navbar.css">
  <!-- Partials -->
</head>

<body>
  {{{body}}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/{{filename}}.css">
  <script src="/js/{{filename}}.js"></script>
  {{#if socket}}
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  {{/if}}
</body>

</html>